.Nav {
  display: flex;
  flex: 1;
  align-items: center;
  width: calc(1440px - 15px);
  height: 46px;
  background-color: #2d63ec;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  padding-left: 15px;
  color: #ffffff;
}
