.Nav {
  display: flex;
  flex: 1;
  align-items: center;
  width: calc(100% - (50% - 233px / 2 - 588.5px));
  height: 46px;
  background-color: #2d63ec;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  padding-left: calc(50% - 233px / 2 - 588.5px);
  color: #ffffff;
}
