.mainBanner {
  background: #f9f9f9;
  width: 1440px;
  height: 232px;
  position: relative;
}

.mainBanner .title {
  position: relative;
  left: 40px;
  top: 97px;
  font-family: "Urbanist", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  width: 700px;
}

.mainBanner .subTitle {
  position: absolute;
  width: 507px;
  height: 20px;
  left: 40px;
  top: 162px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
